<h2> Welcome to  My first Rails Page</h2>


<%= form_tag("/search", method: "get") do %>
<%= label_tag(:q, "Search for:") %>
<%= text_field_tag(:q) %><br />

<%= check_box_tag(:pet_dog) %>
<%= label_tag(:pet_dog, "I own a dog") %><br />
<%= check_box_tag(:pet_cat) %>
<%= label_tag(:pet_cat, "I own a cat") %><br />

<%= radio_button_tag(:age, "child") %>
<%= label_tag(:age_child, "I am younger than 21") %><br />
<%= radio_button_tag(:age, "adult") %>
<%= label_tag(:age_adult, "I'm over 21") %><br />

<%= month_field(:user, :birthday_month) %>

<%= submit_tag("Search") %>
<% end %>